<div
  class="text-white w-md 2xl:w-xl max-w-[95%] flex flex-col gap-1 border-gray-700 p-4 hover:bg-[#191e22] hover:rounded-xl transition-colors duration-300 ease-in"
  [ngClass]="{
    'border-b': !isLastPost()
  }"
>
  <div class="space-y-1 cursor-pointer" (click)="openPost.emit(post()!)">

    <div class="flex justify-between items-center">
      <div class="flex items-center gap-2">
        <app-avatar [author]="post()?.author!"></app-avatar>
        <p class="text-sm text-gray-300">{{ post()?.author?.userName }}</p>
      </div>
  
      @if(isSelf()){
      <div class="flex flex-col items-end relative">
        <i class="bi bi-three-dots text-xl cursor-pointer" (click)="openMenu()"></i>
        <app-post-menu class="mt-5 absolute" #postMenu (delete)="deletePost()"></app-post-menu>
      </div>
      }
    </div>
  
    <p class="text-xl font-semibold capitalize">{{ post()?.title }}</p>
  
    <p class="text-gray-300">{{ post()?.content }}</p>
  
    @if(post()?.imageUrl) {
    <img [src]="post()?.imageUrl" alt="imagen del post" class="w-full aspect-auto bg-background" />
    }
  </div>

  <div class="flex gap-4 items-center pt-3">
    <div class="flex gap-1 items-center">
      @if(isLiked()){
      <i
        class="bi cursor-pointer bi-heart-fill text-[#e0245e] heart"
        (click)="unlike()"
        [class.liked]="isLiked()"
      ></i>
      }@else {
      <i appLikeToggle class="bi bi-heart cursor-pointer" (click)="like()"></i>
      }
      <p class="text-sm">{{ post()?.likesCount }}</p>
    </div>

    <div class="flex gap-1 items-center">
      <i class="bi bi-chat cursor-pointer hover:text-blue-500" (click)="openPost.emit(post()!)"></i>
      <p class="text-sm">{{ post()?.commentsCount }}</p>
    </div>
  </div>

  <p class="text-sm text-gray-400">{{ post()?.createdAt | dateString }}</p>
</div>
