@import "tailwindcss";

@theme {
  --color-background: #0e1113;
  --color-gradient-one: #193cb8;
  --color-gradient-two: #8200db;
  --color-card: #0b163d;
  --color-card-hover: #0b163d;

  --font-logo: 'Poppins', sans-serif;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
