<div class="w-fit bg-[#181C1F] rounded-xl p-2 scale-in-ver-top shadow-md border border-gray-700">

  <div class="flex gap-2 items-center">
    <div class="flex gap-1">
      <i class="bi bi-card-text"></i>
      <span class="text-xs text-gray-400">{{activity().posts}}</span>
    </div>
    <div class="flex gap-1">
      <i class="bi bi-chat-dots-fill"></i>
      <span class="text-xs text-gray-400">{{activity().comments}}</span>
    </div>
    <div class="flex gap-1">
      <i class="bi bi-heart-fill"></i>
      <span class="text-xs text-gray-400">{{activity().likes}}</span>
    </div>
  </div>
</div>
