<div
  class="h-full flex flex-col py-4 px-6 border-r border-gray-700 text-white gap-3 relative transition-[width] duration-400 ease-in-out"
  [ngClass]="isOpen() ? 'w-[250px]' : 'w-[10px]'"
>
  @if (showContent()) {
  <div class="flex flex-col gap-1 border-b border-gray-700 pb-4">
    <p>Publicaciones</p>
    <button
      class="flex gap-4 items-center py-1 px-2 rounded-md cursor-pointer"
      routerLink="/feed"
      appHover
    >
      <i class="bi bi-clock-history text-xl"></i>
      <p class="text-sm text-gray-300">Más Recientes</p>
    </button>

    <button
      class="flex gap-4 items-center py-1 px-2 rounded-md cursor-pointer"
      routerLink="/feed/trends"
      appHover
    >
      <i class="bi bi-graph-up-arrow text-xl"></i>
      <p class="text-sm text-gray-300">Tendencias</p>
    </button>

    <button
      class="flex gap-4 items-center py-1 px-2 rounded-md cursor-pointer"
      routerLink="/new-post"
      appHover
    >
      <i class="bi bi-plus-square text-xl"></i>
      <p class="text-sm text-gray-300">Crear</p>
    </button>
  </div>

  <div class="flex flex-col">
    <p>Administración</p>
    <button
      class="flex gap-4 items-center py-1 px-2 rounded-md cursor-pointer"
      routerLink="/profile"
      appHover
    >
      <i class="bi bi-person-circle text-xl"></i>
      <p class="text-sm text-gray-300">Mi Perfil</p>
    </button>

    @if(currentUser?.role === 'admin') {
      
      <button
        class="flex items-center justify-between py-1 px-2 rounded-md cursor-pointer"
        (click)="toggleAdmin()"
        appHover
      >
        <div class="flex gap-4 items-center">
          <i class="bi bi-shield-lock text-xl"></i>
          <p class="text-sm text-gray-300">Panel de Control</p>
        </div>
  
        <i class="bi bi-chevron-down text-xs transition-transform duration-300 ease-in-out"
          [class.rotate-180]="toggleIcon()"
          [class.rotate-0]="!toggleIcon()"
        ></i>
      </button>
  
      @if(showAdminRoutes()){
        <div class="pl-4 w-full scale-in-ver-top" #adminRoutes>
          <button
            class="flex gap-4 items-center py-1 px-2 rounded-md cursor-pointer w-full"
            routerLink="/admin/users"
            appHover
          >
            <i class="bi bi-people-fill text-xl"></i>
            <p class="text-sm text-gray-300">Usuarios</p>
          </button>
    
          <button
            class="flex gap-4 items-center py-1 px-2 rounded-md cursor-pointer w-full"
            routerLink="/admin/register"
            appHover
          >
            <i class="bi bi-person-plus-fill text-xl"></i>
            <p class="text-sm text-gray-300">Nuevo Usuario</p>
          </button>
    
          <button
            class="flex gap-4 items-center py-1 px-2 rounded-md cursor-pointer w-full"
            routerLink="/admin/stats"
            appHover
          >
            <i class="bi bi-bar-chart-line-fill text-xl"></i>
            <p class="text-sm text-gray-300">Estadisticas</p>
          </button>
        </div>
      }
    }
  </div>

  }
  <div
    class="rounded-full border border-gray-700 h-8 w-8 flex items-center justify-center absolute -right-4 bg-background cursor-pointer"
    (click)="toggle()"
  >
    <i class="bi bi-list text-xl"></i>
  </div>
</div>
