
@if (fullPost()) {
  <app-full-post [data]="fullPost()" (close)="closePost()"></app-full-post>
}

<div class="p-2 h-full">
  <div class="mx-auto  w-full max-w-5xl h-full flex flex-col gap-2 items-center justify-center">
    @for (post of posts(); track $index) {
      <app-post 
        [data]="post" 
        [isLastPost]="IsLastPost($index)" 
        (reload)="reload()"
        (openPost)="openPost($event)"
      ></app-post>
    }
    @if (posts().length === 0) {
      <app-loader></app-loader>
    }

    <div #sentinel></div>
    @if(currentPage < totalPages || currentPage === 0){
      <div class="mb-2">
        <app-loader></app-loader>
      </div>
    }
  </div>

</div>
